[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
pytelegrambotapi = "*"
notion = "*"
requests = "==2.10.0"
boto = "*"
python-telegram-bot = "==12.0.0b1"
psycopg2 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
